.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.charts-container {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #282c34;
  padding: 10px;
  margin: 7%;
  border-radius: 2%;
}

.line-chart-container {
  background-color: #353a44;
  margin: 20px 20px 20px 20px;
  padding: 2%;
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 25px 15px 20px 0 rgba(0, 0, 0, 0.59);
}

.LOB-ratio-container {
  background-color: #353a44;
  margin: 20px 20px 20px 20px;
  padding: 2%;
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 25px 15px 20px 0 rgba(0, 0, 0, 0.59);
}

.gda-logo {
  height: 7%;
  width: 7%;
}

.navbar {
  background: linear-gradient(to right, #06284e, #000000);
  border-bottom: 3px solid #ffffff!important;
}

.title {
  color: #ffffff;
  margin-left: 2%!important;
  font-size: 2em!important;
  font-weight: bold!important;
}
